html {
    background-color: lightgrey;
}


#makeYourMove {
    font: 4em arial, sans-serif;
    text-align: center;
}


#icons {
    display: flex;
    justify-content: center;
    height: 15rem;
}

#icons input {
    width: 12%;
    height: auto;
    margin: 0 2rem 0 2rem;
}

#result {
    font: 2em arial, sans-serif;
    text-align: center;
    margin-top: 2em;
}


#scoreboard {
    display: flex;
    justify-content: center;
    height: 20rem;
    background-image: url(https://forceink.files.wordpress.com/2013/04/blank_whiteboard_on_stand_1600_clr_3809.png);
    background-repeat: no-repeat;
    background-size: 550px 400px;
    background-position: center;
}

#scoreboard p {
    font: 2rem 'Gloria Hallelujah', cursive;
    margin: 4rem .5rem 0 .5rem;
}