html {
    background-color: #fff8b9;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


#makeYourMove {
    font: 4rem arial, sans-serif;
    text-align: center;
    flex: 1;
}


#makeYourMove > p {
    margin: 1rem 0 1rem 0;
}

#icons {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 12rem;
}

#icons input {
    width: 12%;
    height: auto;
    margin: 0 2rem 0 2rem;
}

#result {
    flex: 1;
    font: 2em arial, sans-serif;
    text-align: center;
    margin-top: 2em;
}


#scoreboard {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 15rem;
    background-image: url(https://forceink.files.wordpress.com/2013/04/blank_whiteboard_on_stand_1600_clr_3809.png);
    background-repeat: no-repeat;
    background-size: 550px 400px;
    background-position: center;
}

#scoreboard p {
    font: 2rem 'Gloria Hallelujah', cursive;
    margin: 4rem .5rem 0 .5rem;
}


#footer {
    display: flex;
    justify-content: flex-end;
    height: auto; 
}


#reset {
    margin: 1rem;
    background-color: #f1f2f9;
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

#reset:hover {
    background-color: green;
}